@import "../../vendors/scss/index.scss";

body {
  font-family: "Open Sans", sans-serif;
}
/* Start Navbar Styling */
.portal-navbar {
  box-shadow: 0 1px 10px -5px;
  padding: 0 25px;
  .logo {
    img {
      width: 60px;
      border-right: 1px solid #999;
      padding-right: 10px;
    }
    .logo-text {
      font-size: 18px;
      margin-left: 5px;
    }
  }
  .uk-navbar-right {
    .uk-navbar-nav {
      @include respond-below(md) {
        display: none;
      }
      .uk-active {
        border-bottom: 2px solid $color-primary-light;
      }
      li {
        border-bottom: 0;
        &:hover {
          border-bottom: 2px solid $color-primary-light;
          transition: border 0.1s ease-in;
        }
      }
      .uk-navbar-dropdown {
        ul {
          .uk-active {
            border: 0;
          }
          li {
            border-bottom: 0;
            &:hover {
              border-bottom: 0;
            }
          }
        }
      }
    }
    .uk-navbar {
      @include respond-above(md) {
        display: none;
      }
    }
    .uk-navbar-nav.sidemenu {
      clear: both;
      display: block;
      & > li > a {
        justify-content: left;
      }
    }
  }
}
/* End Navbar Styling */
/* Start Slider Styling */
.hero-slider {
  .uk-slideshow-items {
    position: relative;
    li {
      .caption {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 10;
        padding: 7px 10px;
        display: block;
        color: #fff;
        background: rgba(0, 0, 0, 0.8);
        p {
          text-align: center;
        }
      }
    }
  }
}
/* End Slide Styling */

/* Start Senior Admins Styling */
.senior-admins {
  background: $color-primary-dark;
  // height: 300px;
  padding: 15px 20px;
  .title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    @include respond-below(md) {
      margin-bottom: 15px;
    }
    span {
      color: $color-primary-light;
    }
  }
  .senior {
    .image-container {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      margin: 0 auto;
      position: relative;
      width: 200px;
      height: 200px;
      transition: 0.5s ease;
      .show-profile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: none;
        transition: 0.5s ease;
        .show-btn {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      &:hover {
        .show-profile {
          display: block;
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
    .senior-name {
      font-weight: 700;
      color: $color-primary-light;
    }
    .title {
      font-size: 14px;
    }
  }
}
// Modal Styles
.uk-modal-dialog {
  width: 700px;
}
.basic {
  font-weight: 700;
  margin-bottom: 15px;
}
.senior-info {
  .item {
    font-weight: 700;
    font-size: 14px;
    color: $color-primary-light;
    display: block;
    margin-bottom: 10px;
    span {
      font-weight: 400;
      color: #000;
    }
  }
}
.modal-links {
  a {
    text-decoration: none;
    float: right;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 7px;
      filter: grayscale(100%);
      transition: 0.5s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
/* End Senior Admins Styling */

/* Start Statistics Styling */
.stats {
  padding: 15px 20px;
  .title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    @include respond-below(md) {
      margin-bottom: 15px;
    }
    span {
      color: $color-primary-light;
    }
  }
  .stat {
      .count {
          margin-top: 15px;
          margin-bottom: 0;
          font-weight: 700;
          color: $color-primary-light;
      }
      .stat-title {
        margin-top: 0px;
        margin-bottom: 0;
      }
  }
}
/* Start Statistics Styling */

/* Start Academic Staff */
.academic-staff {
    form {
        padding: 0 70px;
        @include respond-below(md){
            padding: 0 15px;
        }
    }
}
/* End Academic Staff */

/* Start Footer */
.footer {
    span {
        display: block;
        text-align: center;
        padding: 10px;
    }
}
/* End Footer */
